Repository ivandotv/fuerte: changes, and which Codecov flags are due for each by the changed paths.
All: core, autosave, transport-idb

ci: checkout fetch depth 0 for changesets
  .github/workflows/CI.yml
Due: none

update codecov
  codecov.yml
Due: none

update codecov setup
  codecov.yml
Due: none

chore: update packages
  packages/autosave/package.json
  packages/core/package.json
  packages/transport-idb/package.json
Due: core, autosave, transport-idb

ci: fetch depth 0 no longer needed for changesets
  .github/workflows/CI.yml
Due: none

chore: set changeset access to public
  .changeset/config.json
Due: none

add prettier to lint-staged
  .lintstagedrc.json
Due: none

fix: initialize model immediately after the creation
  .changeset/short-sloths-share.md
  packages/core/src/collection/Collection.ts
  packages/core/src/collection/LiteCollection.ts
Due: core

update packages
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update eslint packages
  packages/autosave/package.json
  packages/core/package.json
  packages/transport-idb/package.json
  pnpm-lock.yaml
Due: core, autosave, transport-idb

chore: split lint-staged to multiple packages
  .lintstagedrc.json
  packages/autosave/.lintstagedrc.js
  packages/core/.lintstagedrc.js
  packages/transport-idb/.lintstagedrc.js
Due: core, autosave, transport-idb

chore(deps): update pnpm/action-setup action to v2.2.1
  .github/workflows/CI.yml
Due: none

chore(deps): update actions/checkout action to v3
  .github/workflows/CI.yml
Due: none

add ts: noImplicitOverride to config
  packages/core/src/collection/Collection.ts
  packages/core/tsconfig.json
Due: core

tests: always clear all mocks
  packages/autosave/src/__tests__/collection.test.ts
  packages/autosave/src/__tests__/model.test.ts
  packages/core/src/__tests__/collection-add.test.ts
  packages/core/src/__tests__/collection-delete.test.ts
  packages/core/src/__tests__/collection-load.test.ts
  packages/core/src/__tests__/collection-remove.test.ts
  packages/core/src/__tests__/collection-reset.test.ts
  packages/core/src/__tests__/collection-save.test.ts
  packages/core/src/__tests__/collection.test.ts
  packages/transport-idb/src/__tests__/idb.test.ts
Due: core, autosave, transport-idb

chore: update packages
  package.json
  packages/autosave/package.json
  packages/core/package.json
  packages/transport-idb/package.json
  pnpm-lock.yaml
Due: core, autosave, transport-idb

chore(deps): update actions/setup-node action to v3
  .github/workflows/CI.yml
Due: none

chore(deps): update actions/cache action to v3
  .github/workflows/CI.yml
Due: none

chore: update packages
  package.json
  pnpm-lock.yaml
Due: none

remove lite collection
  .changeset/wet-dingos-judge.md
  packages/autosave/src/AutosaveCollection.ts
  packages/autosave/src/__tests__/__fixtures__/TestModel.ts
  packages/core/package.json
  packages/core/src/__tests__/__fixtures__/TestCollection.ts
  packages/core/src/__tests__/__fixtures__/TestLiteCollection.ts
  packages/core/src/__tests__/__fixtures__/TestModel.ts
  packages/core/src/__tests__/__fixtures__/TestTransport.ts
  packages/core/src/__tests__/__fixtures__/fixtureFactory.ts
  packages/core/src/__tests__/collection-delete.test.ts
  packages/core/src/__tests__/collection-save.test.ts
  packages/core/src/collection/Collection.ts
  packages/core/src/collection/LiteCollection.ts
  packages/core/src/index.ts
  packages/core/src/model/Model.ts
  packages/core/src/model/__tests__/model-added.test.ts
  packages/core/src/model/__tests__/model-removed.test.ts
  packages/core/src/transport/transport.ts
  packages/core/src/types.ts
Due: core, autosave

chore(deps): update codecov/codecov-action action to v3
  .github/workflows/CI.yml
Due: none

Update package dependencies, and make all packages of type `module`
  .changeset/healthy-rings-applaud.md
  .eslintrc.js
  .gitignore
  jest.config.js
  package.json
  packages/autosave/.babelrc.cjs
  packages/autosave/.eslintrc.cjs
  packages/autosave/.lintstagedrc.cjs
  packages/autosave/jest.config.cjs
  packages/autosave/jest.setup.js
  packages/autosave/package.json
  packages/autosave/src/__tests__/.eslintrc.cjs
  packages/autosave/typedoc.cjs
  packages/core/.babelrc.cjs
  packages/core/.eslintrc.cjs
  packages/core/.lintstagedrc.cjs
  packages/core/jest.config.cjs
  packages/core/package.json
  packages/core/src/__tests__/.eslintrc.cjs
  packages/core/typedoc.cjs
  packages/transport-idb/.babelrc.cjs
  packages/transport-idb/.eslintrc.cjs
  packages/transport-idb/.eslintrc.js
  packages/transport-idb/.lintstagedrc.cjs
  packages/transport-idb/jest.config.cjs
  packages/transport-idb/jest.setup.js
  packages/transport-idb/package.json
  packages/transport-idb/typedoc.cjs
  pnpm-lock.yaml
Due: core, autosave, transport-idb

add monorepo script to generate api docs
  package.json
  packages/autosave/package.json
  packages/core/package.json
  packages/transport-idb/package.json
Due: core, autosave, transport-idb

chore(deps): update pnpm/action-setup action to v2.2.2
  .github/workflows/CI.yml
Due: none

fix(deps): update dependency nanoid to v4
  packages/core/package.json
  pnpm-lock.yaml
Due: core

add comments to collection and model classes
  .changeset/hip-lobsters-remember.md
  .changeset/nasty-boats-begin.md
  packages/core/src/collection/Collection.ts
  packages/core/src/model/Model.ts
Due: core

misc internal refactor
  packages/core/src/collection/Collection.ts
Due: core

collection refactor error message
  packages/core/src/__tests__/__fixtures__/fixtureFactory.ts
  packages/core/src/__tests__/collection-add.test.ts
  packages/core/src/__tests__/collection-delete.test.ts
  packages/core/src/__tests__/collection-load.test.ts
  packages/core/src/__tests__/collection-save.test.ts
  packages/core/src/__tests__/collection.test.ts
  packages/core/src/collection/Collection.ts
  packages/core/src/index.ts
  packages/core/src/utils.ts
Due: core

remove autosave package
  packages/autosave/.babelrc.cjs
  packages/autosave/.eslintrc.cjs
  packages/autosave/.lintstagedrc.cjs
  packages/autosave/CHANGELOG.md
  packages/autosave/jest.config.cjs
  packages/autosave/jest.setup.js
  packages/autosave/package.json
  packages/autosave/src/AutosaveCollection.ts
  packages/autosave/src/__tests__/.eslintrc.cjs
  packages/autosave/src/__tests__/__fixtures__/TestAutosaveCollection.ts
  packages/autosave/src/__tests__/__fixtures__/TestFactory.ts
  packages/autosave/src/__tests__/__fixtures__/TestModel.ts
  packages/autosave/src/__tests__/__fixtures__/TestTransport.ts
  packages/autosave/src/__tests__/__fixtures__/fixtureFactory.ts
  packages/autosave/src/__tests__/collection.test.ts
  packages/autosave/src/__tests__/model.test.ts
  packages/autosave/src/index.ts
  packages/autosave/src/types.ts
  packages/autosave/src/utils.ts
  packages/autosave/tsconfig.json
  packages/autosave/typedoc.cjs
Due: autosave

remove transport-idb package
  packages/transport-idb/.babelrc.cjs
  packages/transport-idb/.eslintrc.cjs
  packages/transport-idb/.lintstagedrc.cjs
  packages/transport-idb/CHANGELOG.md
  packages/transport-idb/jest.config.cjs
  packages/transport-idb/jest.setup.js
  packages/transport-idb/package.json
  packages/transport-idb/src/__tests__/idb.test.ts
  packages/transport-idb/src/globals.d.ts
  packages/transport-idb/src/idb-transport.ts
  packages/transport-idb/src/index.ts
  packages/transport-idb/tsconfig.json
  packages/transport-idb/typedoc.cjs
Due: transport-idb

move autosave package to the "core"
  .changeset/nervous-goats-camp.md
  packages/core/jest.config.cjs
  packages/core/package.json
  packages/core/src/__tests__/autosave-collection/__fixtures__/TestAutosaveCollection.ts
  packages/core/src/__tests__/autosave-collection/__fixtures__/TestFactory.ts
  packages/core/src/__tests__/autosave-collection/__fixtures__/TestModel.ts
  packages/core/src/__tests__/autosave-collection/__fixtures__/TestTransport.ts
  packages/core/src/__tests__/autosave-collection/__fixtures__/fixtureFactory.ts
  packages/core/src/__tests__/autosave-collection/collection.test.ts
  packages/core/src/__tests__/autosave-collection/model.test.ts
  packages/core/src/__tests__/model-identity.test.ts
  packages/core/src/__tests__/model-removed.test.ts
  packages/core/src/__tests__/model-save.test.ts
  packages/core/src/__tests__/model.test.ts
  packages/core/src/collection/AutosaveCollection.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/utils.ts
  pnpm-workspace.yaml
Due: core

Remove "set identity from response" functionality
  .changeset/old-seas-reply.md
  packages/core/src/__tests__/collection-add.test.ts
  packages/core/src/__tests__/model-identity.test.ts
  packages/core/src/__tests__/model-save.test.ts
  packages/core/src/collection/Collection.ts
  packages/core/src/model/Model.ts
  packages/core/src/model/identity-error.ts
Due: core

Implement `onRemoved` and `onAdded` callbacks to the `Model` class.
  .changeset/silver-dryers-hammer.md
  packages/core/src/__tests__/__fixtures__/TestModel.ts
  packages/core/src/__tests__/__fixtures__/TestTransport.ts
  packages/core/src/__tests__/collection-add.test.ts
  packages/core/src/__tests__/collection-delete.test.ts
  packages/core/src/__tests__/collection-save.test.ts
  packages/core/src/__tests__/model-removed.test.ts
  packages/core/src/__tests__/model.test.ts
  packages/core/src/collection/AutosaveCollection.ts
  packages/core/src/collection/Collection.ts
  packages/core/src/model/Model.ts
Due: core

eslint: allow non null assertions
  packages/core/.eslintrc.cjs
  packages/core/src/__tests__/.eslintrc.cjs
Due: core

update vscode test launch task
  .vscode/launch.json
Due: none

tests: test model should have a default id
  packages/core/src/__tests__/__fixtures__/TestModel.ts
Due: core

Implement model save and delete methods.
  .changeset/shiny-cooks-boil.md
  packages/core/src/__tests__/__fixtures__/TestModel.ts
  packages/core/src/__tests__/__fixtures__/TestTransport.ts
  packages/core/src/__tests__/model-save.test.ts
  packages/core/src/__tests__/model.test.ts
  packages/core/src/model/Model.ts
  packages/core/src/types.ts
Due: core

Path conditions:
  core: any of: packages/core/
  autosave: any of: packages/autosave/
  transport-idb: any of: packages/transport-idb/
